{% extends 'base.html' %}
{% block content %}
<br>
<h2>{{detail.name}}</h2><br>
<div class="col-sm-offset-5 col-sm-8">
GST INDEX: {{detail.gstin}}<br>
Cuisine : {{detail.Cuisine}}<br>
Door Number : {{detail.dno}}<br>
Street : {{detail.street}}<br>
City : {{detail.city}}<br>
Phone Number : {{detail.phn}}<br>
<img src="{{detail.images.url}}" style="height:250px; width:250px;">
<input style = "float: left;" type=button onClick="location.href='review'" value='write a review for this restaurant'>
</div>
{% endblock %}